<div>
  <div>Hello World! This is the {{ title }} app.</div><br/>


  <div>Press button1 to test <i>import('./hello.component')</i>. You should read 'hello' message </div>
  <div>Press button2 to test <i>import(pathVariable)</i>. You should read 'goodbye' message, but you'll get an error to console</div

  ><br/>

  <button (click)="doStaticLazyLoad()">Button1: static lazy load</button><br/><br/>
  <button (click)="doStaticLazyLoad2()">Button1(bis): pseudo-dynamic lazy load</button><br/><br/>
  <button (click)="doDynamicLazyLoad()">Button2: dynamic lazy load</button><br/><br/>
</div>
